* {
    box-sizing:border-box;
}
img {
    border-radius: 13px;
}
.images {
    float: left;
    width: 94%;
    text-align: center;
    padding-bottom: 25px;
}

#galleryUl {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
input {
    font-size: 16px; 
    padding: 12px 20px 12px 40px; 
    border: 1px solid #ddd; 
    margin-bottom: 25px; 
    margin: 2rem auto;
    width: 45%; 
    display: block;
    border-radius: 10px;
}
.lb-data .lb-details {
    margin: 10px 0;
}
.lb-data .lb-number {
    display: none !important;
}
.lb-data .lb-caption {
    font-size: 17px;
}
.lightbox .lb-image {
    border: none;
    max-width: 784px;
    max-height: 506px;
}
element {
    width: 484px;
    height: 306px;
}
body {
    background-color: lightslategray;
}

@media (min-width: 768px) {
    .images {
        float: left;
        width: 50%;
        text-align: center;
        padding-bottom: 25px;
    }
}
@media (min-width: 890px) { 
    .images {
        float: left;
        width: 33%;
        text-align: center;
        padding-bottom: 25px;
    }
}
@media (min-width: 1024px) {
    .images {
        float: left;
        width: 25%;
        text-align: center;
        padding-bottom: 25px;
    }
}
















